
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" 
		  href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" 
		  integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" 
		  crossorigin="anonymous">  <!-- cdn -->
		         
	<link rel="stylesheet" href="./resources/stylesheets/style.css" />
		
	<style>
		.input {
			width: 300px;
		}
		
		.header {
		  background-color: #F1F1F1;
		  text-align: center;
		  padding: 20px;
		  height:50px;
		}	
		
		.column {
			width: 150px;
			margin-top: 5px;	
		}	
		
		.separator {
			padding-bottom: 10px;
		}	
		
		.form {
			/* margin-left: 300px; */
			align-items: center;
		}
		
		.receipt {
		    width:100%;
		    height:100%;		
		}
		
		.receipt-frame {
		    width:500px;
		    height:300px;
			margin-left: 50px;
			margin-top: 20px;
		    background-color:#D7E6FB;
		    border-left:2px solid #0040FF;
		    border-right:2px solid #0040FF;
		    border-bottom:2px solid #0040FF;
		    border-top:2px solid #0040FF;
		}			
	</style>

	<script src="https://code.jquery.com/jquery-3.6.0.js"
			integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
			crossorigin="anonymous"></script>	
			
	<!-- <script src="./resources/scripts/webapp.js"></script>	 -->		
			
	<script>
		function readData(name) { //read the cookie
			let cookie = {};
			document.cookie.split(';').forEach(function(el) {
			    let [k,v] = el.split('=');
			    cookie[k.trim()] = v;
			})
			return cookie[name];
		}

		const capitalize = (s) => {
			  if (typeof s !== 'string') return ''
			  return s.charAt(0).toUpperCase() + s.slice(1)
		}			
		
		document.addEventListener("DOMContentLoaded", function(){ //onload page
			//get url parameters
			let URL = 'reimbursement'+window.location.search; //should return for example: ?option=profile
			
		    $.ajax({
		        type: 'Get',
		        url: URL,
		        data: '',
		        success: function(result) { //result is defined by the servlet doGet method			        
				  const reimbursement = readData('statuses_and_types'); //result;	
				  //console.log("Reimbursement:: "+reimbursement);
				  if (typeof reimbursement !== 'undefined') { 
					  const reimbursementArr = reimbursement.split("|"); //0:statuses,1:types
					  //Get statuses
					  const statusesArr = reimbursementArr[0].split(",");
					  statusesArr.forEach(function(status){
						  const selectValue = status.substring(0, status.indexOf("^"))
		  									.replace('"', ''); //firstIndexOf

						  const selectLabel= status.substring(status.indexOf('^') + 1)
						  					.replace('"', ''); //lastIndexOf

						  var option = document.createElement("option");
						  option.value= selectValue.substring(selectValue.indexOf(':') + 1); //lastIndexOf							
						  option.innerHTML = capitalize(selectLabel.substring(selectLabel.indexOf(":") + 1)); // whatever property it has

						  // then append it to the select element
						  document.getElementById("status").appendChild(option);											  					  
					  });
	  
					  //Get types
					  const typesArr = reimbursementArr[1].split(",");
					  typesArr.forEach(function(type){
						  const selectValue = type.substring(0, type.indexOf("^"))
		  									.replace('"', ''); //firstIndexOf

						  const selectLabel= type.substring(type.indexOf('^') + 1)
						  					.replace('"', ''); //lastIndexOf

						  var option = document.createElement("option");
						  option.value= selectValue.substring(selectValue.indexOf(':') + 1); //lastIndexOf
					  							
						  option.innerHTML = capitalize(selectLabel.substring(selectLabel.indexOf(":") + 1)); // whatever property it has

						  // then append it to the select element
						  document.getElementById("type").appendChild(option);
					  });					  
				  }

				  const reimbursementRequested = readData('reimbursement_request'); 
				  if (typeof reimbursementRequested !== 'undefined') {
					  var reimbursementArr = reimbursementRequested.split("^");					  
					  reimbursementArr.forEach(function(reimbursement){
						  //console.log(reimbursement);
						  
						  const fieldName = reimbursement.substring(0, reimbursement.indexOf(":"))
						  					.replace('"', ''); //firstIndexOf
						  //console.log("Field->"+fieldName); 
						  const fieldValue= reimbursement.substring(reimbursement.indexOf(':') + 1)
						  					.replace('"', '');; //lastIndexOf
						  //console.log("Value->"+fieldValue);

						  if(fieldName=="reimbursementId" || 
							 fieldName=="description" || 
							 fieldName=="amount") {					
						  	document.getElementById(fieldName).value = fieldValue;
						  } else if(fieldName=="typeId") {
							 setSelectedValue("type", fieldValue);					 
						  } else if(fieldName=="statusId") {
							 setSelectedValue("status", fieldValue); 
						  }

						  if(fieldName=="receiptFile"){
			    				let image = document.getElementById("receipt");
			    				image.setAttribute("src", 'image?image='+fieldValue);								    			
						  }	
									
						});
						
					    //delete the cookie after using it					
					    document.cookie = 'reimbursement_request=; Max-Age=0';
				  }				  
	        	}, error:function(msg) {
	      	  	    console.log("Fail to populate reimbursement data...");
		      }
	  	    });

			//get connected user from the cookie and display it on the link
			const connectedUser = readData('connected_user');
			var text = document.createTextNode(connectedUser);
			document.getElementById("logout").appendChild(text);
			document.getElementById("logout").title = "Click on to logout "+connectedUser;
			const userRole = readData('user_role');			
			if(userRole=="employee") {
				document.getElementById("preimbursements").style.display = "none";
				document.getElementById("allreimbursements").style.display = "none";
				document.getElementById("addEmployee").style.display = "none";
				document.getElementById("browseEmployee").style.display = "none";
			} else if(userRole=="manager") {
				document.getElementById("vreimbursements").style.display = "none";
				document.getElementById("statusRow").style.visibility = "visible";
				document.getElementById("btnSubmit").style.display = "block";
			}

			//look for status
			var status="0";
			const reimbursementRequested = readData('reimbursement_request'); 
			if (typeof reimbursementRequested !== 'undefined') {
			  var reimbursementArr = reimbursementRequested.split("^");					  
			  reimbursementArr.forEach(function(reimbursement){		
			  const fieldName = reimbursement.substring(0, reimbursement.indexOf(":"))
	  					.replace('"', ''); //firstIndexOf
					  //console.log("Field->"+fieldName); 
			  const fieldValue= reimbursement.substring(reimbursement.indexOf(':') + 1)
					  					.replace('"', '');; //lastIndexOf
					  //console.log("Value->"+fieldValue);					  	
				  if(fieldName=="status") {
						status = fieldValue;	
				  }
			  });
			}
			  			
			console.log("Status:: "+status);
			if((status=="approved" || status=="denied") && userRole=="employee") {
				document.getElementById("btnSubmit").style.display = "none";
				document.getElementById("mainContainer").style.pointerEvents = "none";
			} else {
				document.getElementById("btnSubmit").style.display = "block";
				document.getElementById("mainContainer").style.pointerEvents = "block";				
			}			  	   
		}); 

		function setSelectedValue(id, value) {
		    const select = document.getElementById(id);
		    for(let i = 0; i < select.options.length; i++) {
		        if(select.options[i].value == value) {
		        	select.selectedIndex = i;
		           break;
		        }
		    }		    
		}				
	</script>	 		
</head>

<body>
	<nav class="nav">
		<span id="grandTitle">Employee Reimbursement System</span>
	</nav>
	<nav class="navigation">	
		<div class="container">
			<div class="row">
				<div class="pad">
			        <a id="home" href="webapp?option=home" class="menu-button">
			           Home
			        </a>
				</div>
						
				<div class="pad">
			        <a href="webapp?option=reimbursement" class="menu-button">
			           Reimbursement
			        </a>
				</div>
				
				<div id="vreimbursements" class="pad">
			        <a href="webapp?option=vreimbursements" class="menu-button">
			           View reimbursements
			        </a>
				</div>			
				
				<div id="preimbursements" class="pad">
			        <a href="webapp?option=preimbursements" class="menu-button">
			           Pending reimbursements
			        </a>
				</div>
				
				<div id="allreimbursements" class="pad">
			        <a href="webapp?option=allreimbursements" class="menu-button">
			           All reimbursements
			        </a>
				</div>		
		
				<div id="addEmployee" class="pad">
				     <a href="webapp?option=addEmployee" class="menu-button">
				         Add employee
				     </a>
				</div>
							
				<div id="browseEmployee" class="pad">
			        <a href="webapp?option=browseEmployee" class="menu-button">
			           List of employees
			        </a>
				</div>		   	    
				
				<div class="pad">
			        <a id="profile" href="webapp?option=profile" class="menu-button"> 
			           Profile
			        </a>
				</div>
				
				<div class="pad">
			        <a id="logout" href="webapp?option=logout" class="menu-button">
			        </a>
				</div>		       
			</div>
		</div>
	</nav>
	
	<br/>
    	
	<div class="container justify-content-center">
	
		<!-- For messaging -->
	    <div id="successBar" class="success-message justify-content-center" style="display: none;">
			<p id="success"></p>	
	    </div>
	    
	    <div id="failBar" class="fail-message justify-content-center" style="display: none;">
			 <p id="fail"></p>	
	    </div>	    
	    
	    <br/>
	    	    	
	    <div class="headtitle justify-content-center">
			<a href="#" 
				title="Click on to refresh the page."
				onclick="window.location.reload(false)"> 				
				Reimbursement request
			</a>	 	
	    </div>
	    
	    <br/>	
	    
		<form id="reimbursementForm" 
			  action="reimbursement" 
			  method="POST"
			  enctype="multipart/form-data" 
			  class="row g-3 needs-validation">
			  		
			<div id="mainContainer" class="container"> <!-- begin main container -->
				<div class="row">	<!-- main row -->
					<div> <!-- column info -->	
						
						<br/><br/>
							
						<div class="container"> <!-- begin info container -->
							<div class="row">
								<div class="column">
									<label for="description">Description*</label> 				
								</div>
				
								<div class="col, separator">
									<input
										id="description"
										name="description"
										type="text" 
										class="form-control input"
										placeholder="Enter reimbursement's description"
										required /> 
										<div class="valid-feedback">
										      Description is a required field.
										</div>									
								</div>
							</div>
							
							<div class="row">
								<div class="column">
									<label for="amount">Amount*</label> 			
								</div>
				
								<div class="col, separator">
									<input
										id="amount"
										name="amount"
										type="number"
										value="0"
										min="1"
										pattern="\d*" 
										class="form-control input" 
										required /> 		
								</div>
							</div>
																	
							<div class="row">
								<div class="column">
									<label for="type">Type*</label> 			
								</div>
				
								<div class="col, separator">
									<select
										id="type"
										name="type"
										class="form-control input" 			
										required>
										<option value="0">Select reimbursement's type</option>
									</select>	 
									<div class="valid-feedback">
										 Type is a required field.
									</div>											
								</div>
							</div>
							
							<div id="statusRow" class="row" style="visibility: hidden">
								<div class="column">
									<label for="status">Status</label> 			
								</div>
				
								<div class="col, separator">
									<select
										id="status"
										name="status"
										class="form-control input">
										<option value="0">Select reimbursement's status</option>
									</select>	 
									<div class="valid-feedback">

									</div>											
								</div>
							</div>
														
							<br/>
							
							<div class="row"> 
								<div class="column">
							      <button type="submit"
							      		  id="btnSubmit" 
									      class="btn btn-primary" 
									      style="width: 125px">Save</button> 			
								</div>
							</div>							
						</div>	<!-- end info container -->			
					</div> <!-- End column info -->
			
					<!-- column receipt -->
					<div> 
						<div id="receiptFrame" class="receipt-frame"> 
							<a href="#" onclick="document.getElementById('receiptFile').click();">
								<img id="receipt" 
									 src=""
									 title="Click on to select a receipt"
									 class="receipt" />
							</a>
						</div>
						
						<!-- upload receipt file here -->						
						<input  type="file" 
								id="receiptFile"
								name="receiptFile"
								accept=".png, .gif, .jpeg, .jpg"								 
								style="display: none;" />								
					</div>
				</div> <!-- End main row -->			
			</div> <!-- End main container -->
			
			<!-- the hidden fields -->												
			<input type="text" 
				   id="reimbursementId" 
				   name="reimbursementId"	
				   value="0"							 
				   style="display: none;" />
			   
		</form>
	</div>

	<script>
		function readURL(input) {
		    if (input.files && input.files[0]) {
		        var reader = new FileReader();

		        reader.onload = function (e) {
		            $('#receipt').attr('src', e.target.result);
		        }
				profile.addEventListener("click", function()	{	

					//get url parameters
					const URL = 'webapp'+window.location.search; //should return for example: ?option=profile
					
				    $.ajax({
				        type: 'Get',
				        url: 'webapp?option=profile',
				        data: '',
				        success: function(result) { //result is defined by the servlet doGet method
				      	  console.log("The result:: "+result);	        	   
				      	  //const reimbursementsArr = result; //JSON.parse(result);	        	  
			     			            				            		                

			        }, error:function(msg) {
			      	  console.log("Fail to populate reimbursement data...");
				      }
			  	   });
			  	   
					});
				  	   	
		        reader.readAsDataURL(input.files[0]);
		    }
		}

		$("#receiptFile").change(function(){
		    readURL(this);
		});				
	</script>

</body>
<footer class="footer">
	<div class="container text-center">
		<span>&copy;All rights reserved by Hector V. @ Revature</span>
	</div>
</footer>

</html>
